#LeftBarConstr {
    border: 1px solid #1d2a33;
    border-radius: 25px;
    width: 100%;
    height: calc(100vh - 50px);
    max-height: 902px;
    background: #0f181e;
    position: relative;
    >.head {
        width: 100%;
        height: 97px;
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid rgb(29, 42, 51, 0.33);
        padding-left: 14px;
        padding-right: 34px;
        button {
            background: url(../../../img/Constructor/leftbar/back.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 33px;
            height: 46px;
            border: none;
            margin-left: auto;
            margin-right: 0;
        }
    }
    >nav {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 13px;
        margin-bottom: 11px;
        >.edit, >.install, >.advert {
            width: 100%;
            height: 82px;
            border: none;
            border-radius: 18px;
            background: #105efe;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            padding-left: 17px;
            padding-right: 40px;
            cursor: pointer;
            p {
                margin: 0;
                margin-left: 17px;
                font-weight: 500;
                font-size: 18px;
                color: #fff;
            }
            >:nth-child(3) {
                margin-left: auto;
                margin-right: 0;
            }
        }  
        >.install, >.advert {
            border: 1px solid #1d2a33;
            background: none;
            p {
                font-weight: 300;
            }
        }
    }
    >.extensions, >.design, >.integrations, >.settings {
        border: none;
        border-top: 1px solid #1d2a33;
        border-radius: 25px;
        background: #0f181e;
        width: 100%;
        height: 69px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        padding-right: 57px;
        cursor: pointer;
        p {
            margin: 0;
            margin-left: 17px;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
        }
        >:nth-child(3) {
            margin-left: auto;
            margin-right: 0;
        }
    }
    >.prev {
        margin-top: 47px;
        display: flex;
        align-items: center;
        border: 1px solid #1d2a33;
        border-radius: 18px;
        width: 90%;
        height: 58px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 15px;
        p {
            margin: 0;
            margin-left: 6px;
            font-weight: 400;
            font-size: 16px;
            color: #5f7483;
        }
        button {
            border: none;
            border-radius: 12px;
            width: 50px;
            height: 46px;
            background: none;
            margin-left: auto;
            margin-right: 7px;
        }
        >:nth-child(3) {
            border: 1px solid #5f7483;   
            background: url(../../../img/Constructor/leftbar/pc.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 0px;         
        }
        >:nth-child(4) {
            background: url(../../../img/Constructor/leftbar/mob.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    >.publish {
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 17px;
        border-radius: 25px;
        height: 89px;
        background: #141e27;
        border: none;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }
}