#first_section {
    position: relative;
    z-index: 2;
    padding-top: 99px;
    h4 {
        text-align: center;
        font-weight: 250;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.64em;
        text-transform: uppercase;
        text-align: center;
        color: #7eb7ff;
    }
    h1 {
        font-family: "Inter Tight", sans-serif;
        font-weight: 400;
        font-size: 64px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        b {
            font-weight: 700;
        }
    }
    .min {
        font-family: "Inter Tight", sans-serif;
        font-weight: 700;
        font-size: 64px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        background: url(../img/min.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        width: 370px;
        height: 172.15px;
        position: relative;
        left: 50%;
        transform: translateX(-50%) rotate(-7deg);
        margin-top: -67px;
        padding-top: 65px;
    }
    .easy {
        width: 231px;
        height: 90px;
        background: url(../img/easy.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        position: relative;
        left: 50%;
        transform: translateX(-10%) rotate(4deg);
        margin-top: -5px;
    }
    h3 {
        font-weight: 250;
        font-size: 29px;
        line-height: 140%;
        letter-spacing: -0.03em;
        text-align: center;
        color: #fff;
        margin-top: 54px;
        b {
            font-weight: 700;
        }
    }
    button {
        width: 299px;
        height: 78px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        border: none;
        border-radius: 92px;
        background: linear-gradient(178deg, #ff6d0e 0%, #fd4e12 100%);        
        position: relative;
        z-index: 2;   
        left: 50%;
        transform: translateX(-50%);
        margin-top: 44px;
    }
    .pc {
        display: block;        
    }
    .mob {
        display: none;
    }
}
@media (max-width: 375px) {
    #first_section {
        padding-top: 49px;
        h4 {
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 0.64em;
        }
        h1 {
            font-weight: 400;
            font-size: 23px;
            letter-spacing: -0.02em;
        }
        h3 {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.03em;
            margin-top: 10px;
        }
        .min {
            width: 150px;
            height: 70px;
            font-weight: 700;
            font-size: 25px;
            letter-spacing: -0.02em;
            margin-top: -29px;
            padding-top: 30px;
        }
        .easy {
            width: 91px;
            height: 36px;
            margin-top: -2px;
        }
        button {
            width: 299px;
            height: 78px;
            margin-top: 30px;
            font-weight: 700;
            font-size: 15px;
            letter-spacing: 0.03em;
        }
        .pc {
            display: none;
        }
        .mob {
            display: block;
        }
    }
}