#buttonQuiz {
    border-radius: 18px;
    width: 351px;
    height: 200vh;
    background: #105efe;
    color: #fff;
    cursor: pointer;
}
#Quiz {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 90;
    overflow: none;
}
#Quiz > div {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border: 1px solid #1d2a33;
    border-radius: 25px;
    max-width: 1400px;
    height: 902px;
    width: 100vw;
    background: #0f181e;
}
#Quiz > div > img {
    position: absolute;
    right: 22px;
    top: 24px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
#Quiz > div > #canvas {
    padding: 94px 61px 134px 73px;
    height: 674px;
}
#Quiz > div > #canvas > .canvas1 {
    height: 100%;
    border-radius: 25px;
    padding: 13px;
    display: flex;
    position: relative;
    >.img {
        width: 50%;
        height: 100%;
        border: none;
        border-radius: 15px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    >.right {
        width: 50%;
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 35px;
        position: relative;
        >.logo {
            display: flex;
            height: 54px;
            align-items: center;
            margin-bottom: 58px;
            button {
                cursor: text;
                border: none;
                border-radius: 36px;
                width: 54px;
                height: 54px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            p {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-left: 23px;
            }
        }
        >h1 {
            margin: 0;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 22px;
        }
        >h3 {
            margin: 0;
            margin-bottom: 30px !important;
            font-weight: 400;
            font-size: 16px;
        }
        >button {
            position: relative !important;
            left: 0 !important;
            bottom: 0 ;
            border-radius: 29px;
            width: 124px !important;
            height: 58px !important;
            border: none;
            font-weight: 400;
            font-size: 16px;
        }
        >p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
        }
        >:nth-last-child(1) {
            position: absolute;
            left: 43px;
            bottom: 36px;
        }
        >:nth-last-child(2) {
            position: absolute;
            left: 43px;
            bottom: 63px !important;
        }
        a {
            position: absolute;
            right: 43px;
            bottom: 43px;
            font-weight: 400;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
        }
    }
}    
#Quiz > div > #canvas > .canvas2 {
    height: 100%;
    border-radius: 25px;
    padding: 38px 48px 0px 62px;
    position: relative;
    >h1 {
        font-weight: 600;
        font-size: 28px;
        margin: 0;
        margin-bottom: 31px;
    }
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
    }
    >.answers {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        >.item {
            border: 0.85px solid #d3dbe1;
            border-radius: 6px;
            height: 68px;
            background: none;
            margin-bottom: -5px;
            display: flex;
            align-items: center;
            padding-left: 16px;
            button {
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 100%;
                background: #d3dbe1;
                cursor: pointer;
            }
            button.active {
                background: #105efe;
            }
            p {
                margin: 0;
                margin-left: 15px;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
    >.calc {
        >input {
            border: 0.85px solid #d3dbe1;
            border-radius: 6px;
            width: 170px;
            height: 68px;
            background: none;
            font-weight: 400;
            font-size: 28px;
            color: #1d2a33;
            margin-bottom: 20px;
        }
        >.range {
            position: relative;
            width: 100%;
            height: 60px;
            margin-bottom: 16px;
            >div {
                height: 60px;
                min-width: 60px;
                max-width: 100%;
                background-color: #105EFE;
                border: 0.85px solid #d3dbe1;
                border-radius: 34px;
                position: absolute;
                z-index: 1;
                >div {
                    width: 43px;
                    height: 43px;
                    background-color: #fff;
                    border-radius: 34px;
                    position: absolute;
                    left: auto;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            input[type=range] {
                width: 100%;
                height: 60px;
                margin: 0;
                padding: 0;
                border: 0.85px solid #d3dbe1;
                border-radius: 34px;
                background-color: transparent;
                -webkit-appearance: none;
                appearance: none;
                position: relative;
                z-index: 2;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 51px;
                height: 51px;
                background-color: none;
                cursor: pointer;
                z-index: 3;
            }
            input[type=range]::-moz-range-thumb {
                width: 51px;
                height: 51px;
                background-color: none;
                cursor: pointer;
                z-index: 3;
            }
             input[type=range]::-webkit-slider-runnable-track {
                 background-color: #105EFE;
             }
             input[type=range]::-moz-range-track {
                 background-color: #fff;
             }
        }
        >.text {
            width: 100%;
            display: flex;
            justify-content: space-between;
            p {
                font-weight: 400;
                font-size: 28px;
                color: #1d2a33;
                margin: 0;
            }
        }
    }

}
#Quiz > div > #canvas > .canvas2 >.progress {
    width: calc(100% - 48px - 62px);
    height: 78px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    align-items: center;
    background: none;
    p {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
        font-size: 18px;
        span {
            font-weight: 500;
            color: #105efe;
        }
    }
    .prog {
        width: 50%;
        height: 13px;
        border-radius: 18px;
        background: #ebebeb;
        div {
            height: 100%;
            border-radius: 18px;
            background: #105efe;
        }
    }
    a {
        margin: 0;
        margin-left: 58px;
        font-weight: 400;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-color: #105efe;
        text-decoration-skip-ink: none;
        text-align: center;
        span {
            color: #105efe;
        }
    }
    >:nth-last-child(1) {
        position: absolute;
        left: auto;
        right: 0;
        width: 191px;
        height: 78px;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
        img {
            margin-left: 13px;
        }
    }
    >:nth-last-child(2) {
        position: absolute;
        left: auto;
        right: 200px;
        width: 78px;
        height: 78px;
        cursor: pointer;
    }
}
#Quiz > div > #canvas > .canvas3 {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 12px 13px;
    position: relative;
    display: flex;
    >.img {
        width: 50%;
        height: 100%;
        border: none;
        border-radius: 15px;
        background: rgba(66, 87, 102, 0.09);
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    >.right {
        width: 50%;
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 32px;
        position: relative;
        h1 {
            margin: 0;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 22px;
        }
        h3 {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
        }
        >.inputs {
            position: absolute;
            left: 43px;
            top: 50%;
            transform: translateY(-50%);
            bottom: 0;
            .name, .email, .phone {
                width: 311px;
                height: 70px;
                margin-bottom: 12px;
                position: relative;
                p {
                    margin: 0;
                    font-weight: 400;
                    font-size: 14px;
                }
                input {
                    border-radius: 6px;
                    width: 281px;
                    height: 44px;
                    position: relative;
                    bottom: 0;
                    padding-left: 42px;
                    font-weight: 400;
                    font-size: 14px;
                    background: rgba(106, 132, 150, 0.09);
                }
                >input::placeholder {
                    font-weight: 400;
                    font-size: 14px;
                }
                >img {
                    position: absolute;
                    left: 9px;
                    bottom: 14px;
                }

            }
        }
        >button {
            position: absolute !important;
            bottom: 32px !important;
            left: 43px;
            border-radius: 16px;
            width: 179px;
            height: 58px;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            border: none;
        }
    }
}

.standart-right {
    >.right {
        text-align: end;
        >.logo {
            justify-content: end;
        }
        >.inputs {
            left: auto !important;
            right: 43px !important;
            img {
                left: auto!important;
                right: 271px !important;
                bottom: 18px !important;
            }
        }
        p {
            left: auto;
            right: 43px;
        }
        a {
            right: auto;
            left: 43px;
        }
        >button {
            left: auto !important;
            right: 43px !important;
        }
    }
}
.canvas-center {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px;
    >.img {
        display: flex;
        border: none;
        border-radius: 15px;
        background: rgba(66, 87, 102, 0.09);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 577px;
        height: 283px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
    }
    >.right {
        >.logo {
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            height: 54px;
            align-items: center;
            button {
                cursor: text;
                border: none;
                border-radius: 36px;
                width: 54px;
                height: 54px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            p {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-left: 23px;
                img {
                    margin-left: 8px;
                }
            }
        }
        >h1 {
            margin: 0;
            margin-top: 22px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 22px;
            text-align: center;
        }
        >h3 {
            margin: 0;
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }
        >button {
            border-radius: 29px;
            width: 124px;
            height: 58px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            img {
                margin-left: 8px;
            }
        }
        >p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        >:nth-last-child(1) {
            bottom: 28px;
        }
        >:nth-last-child(2) {
            bottom: 55px;
        }
        a {
            position: absolute;
            right: 43px;
            bottom: 43px;
        }
    }

}
.background-left {
    position: relative;
    >.img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 26px) !important;
        height: calc(100% - 26px) !important;
        z-index: 1;
    }
    >.right {
        z-index: 2;
        width: 100% !important;
        a {
            position: absolute;
        }
    }


}
.background-right {
    position: relative;
    >.img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 26px) !important;
        height: calc(100% - 26px) !important;
        z-index: 1;
    }
    >.right {
        position: absolute;
        width: 100% !important;
        height: calc(100% - 26px);
        left: auto;
        right: 13px;
        text-align: end;
        z-index: 2;
        >.logo {
            justify-content: end;
        }
        p {
            left: auto;
            right: 43px;
        }
        a {
            position: absolute;
            right: auto;
            left: 43px;
        }
        >.inputs {
            left: auto !important;
            right: 43px !important;
            img {
                left: auto!important;
                right: 271px !important;
                bottom: 18px !important;
            }
        }
        >button {
            left: auto !important;
            right: 43px !important;
            bottom: 43px !important;
        }
    }
}
.background-center {
    >.img {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: calc(100% - 26px) !important;
        height: calc(100% - 26px) !important;
        z-index: 1;
    }
    >.right {
        position: absolute;
        width: 100% !important;
        height: calc(100% - 26px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 2;
        >.logo {
            position: absolute;
            left: 40px;
            bottom: 30px !important;
            margin: 0;
        }
        >h1 {
            margin-bottom: 10px;
            margin-top: 15%;
        }
        >h3 {
            margin-bottom: 15px;
        }
        p {
            text-align: right;
            left: auto;
            right: 43px;
        }
        a {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        >button {
            position: absolute !important;
            left: 50% !important;
            transform: translateX(-50%);
            bottom: auto;
        }
    }
}
#Quiz > div > #canvas > .canvas1.background-right {
    padding: 0;
    >.right {
        right: 0;
        position: static;
    }
}
#Quiz > div > #canvas >.canvas1.background-center {
    >.img {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: calc(100% - 26px) !important;
        height: calc(100% - 26px) !important;
        z-index: 1;
    }
    >.right {
        position: relative;
        width: 100% !important;
        height: calc(100% - 26px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 2;
        >.logo {
            position: absolute;
            left: 40px;
            bottom: 30px !important;
            margin: 0 !important;
        }
        >h1 {
            margin-bottom: 10px;
            margin-top: 15%;
        }
        >h3 {
            margin-bottom: 15px;
        }
        p {
            text-align: right;
            left: auto;
            right: 43px;
        }
        a {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        >button {
            position: absolute !important;
            left: 50% !important;
            transform: translateX(-50%);
            bottom: auto !important;
        }
    }
}
#Quiz > div > #canvas > .canvas3.background-center {
    >.img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 26px);
        height: calc(100% - 26px);
        z-index: 1;
    }
    >.right {
        position: absolute;
        width: 100%;
        height: calc(100% - 26px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 2;
        padding-top: 32px;
        >h1 {
            margin-bottom: 10px;
            margin-top: 0;
        }
        >h3 {
            margin-bottom: 15px;
        }
        p {
            text-align: right;
            left: auto;
            right: 43px;
        }
        >.inputs {
            width: 311px;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            input {
                position: relative !important;
            }
            img {
                left: 14px !important;
                bottom: 18px !important;
            }
        }
        >button {
            left: 50% !important;
            transform: translateX(-50%) !important;
            bottom: 43px !important;
        }
    }
}







#canvas.style1 {
    >.canvas2 {
        >.progress {
            >:nth-last-child(1) {
                border: none;
                border-radius: 39px;
                background: #105efe;
            }
            >:nth-last-child(2) {
                border: 1.34px solid #6a8496;
                background: none;
                border-radius: 39px;
            }
        }
    }
}
#canvas.style2 {
    >.canvas2 {
        >.progress {
            >:nth-last-child(1) {
                border: none;
                border-radius: 3px;
                background: #105efe;
            }
            >:nth-last-child(2) {
                border: 1.34px solid #6a8496;
                background: none;
                border-radius: 3px;
            }
        }
    }
}
#canvas.style3 {
    >.canvas2 {
        >.progress {
            >:nth-last-child(1) {
                border: none;
                border: 0.60px solid #105efe;
                background: none;
                border-radius: 39px;
            }
            >:nth-last-child(2) {
                border: 1.34px solid #6a8496;
                background: none;
                border-radius: 39px;
            }
        }
    }
}
#canvas.style4 {
    >.canvas2 {
        >.progress {
            >:nth-last-child(1) {
                border: none;
                border: 0.60px solid #105efe;
                background: none;
                border-radius: 3px;
            }
            >:nth-last-child(2) {
                border: 1.34px solid #6a8496;
                background: none;
                border-radius: 3px;
            }
        }
    }
}
#Quiz.light-theme {
    >div {
        background: #0f181e;
    }
    .canvas1, .canvas2, .canvas3, .canvas-center {
        background: #fff;
        p, h1, h3 {
            color: #1d2a33;
        }
        .right {
            >button {
                background: #105efe;
                color: #fff;
            }    
            a {
                color: #1d2a33;
                text-decoration-color: #105efe;
                span {
                    color: #105efe;
                }
            }  
            .inputs {
                input {
                    border: 0.85px solid #6a8496;  
                    color: #fff;
                }   
                input::placeholder {
                    color: #6a8496;
                }                 
            }                         
        }
        >.progress {
            button {
                color: #0f181e;
            }
        }
    }
}
#Quiz.dark-theme {
    >div {
        background: #fff;
    }
    .canvas1, .canvas2, .canvas3, .canvas-center {
        background: #141c23;
        p, h1, h3 {
            color: #fff;
        }
        a {
            color: #fff;
        }
        .right {
            >button {
                background: #105efe;
                color: #fff;
            }    
            a {
                color: #fff;
                text-decoration-color: #105efe;
                span {
                    color: #105efe;
                }
            }  
            .inputs {
                input {
                    border: 0.85px solid #fff;
                    color: #fff;
                }
                input::placeholder {
                    color: #fff;
                }
            }      
        }
        >.progress {
            button {
                color: #fff;
            }
        }
    }
}
#Quiz.quiz-theme {
    >div {
        background: #0f181e;
    }
    .canvas1, .canvas2, .canvas3, .canvas-center {
        background: #1153fe;
        p, h1, h3 {
            color: #fff;
        }
        .right {
            >button {
                background: #ff6210;
                color: #fff;
            }    
            a {
                color: #fff;
                text-decoration-color: #ff6210;
                span {
                    color: #ff6210;
                }
            }   
            .inputs {
                input {
                    border: 0.85px solid #fff;
                    color: #fff;
                }
                input::placeholder {
                    color: #fff;
                }
            }         
        }
        >.progress {
            button {
                color: #fff;
            }
        }
    }
}
