#footer {
    margin-top: 48px;
    hr {
        width: 1204px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(16, 18, 16, 0.16);
    }
    .col-xxl-3 {
        display: flex !important;
        align-items: center;
        img {
            width: 126px;
            height: 110px;
            margin-left: -75px;
        }
        #footer-title {
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: #1a1c20;
            margin: 0;
            margin-left: 46px;
        }
        a {
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.02em;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #1a1c20;
            margin: 0;
            margin-left: 19px;
        }
    }
    .col-xxl-5 {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        gap: 94px;
        a {
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.02em; 
            text-decoration: none;
        }
        :nth-child(1) {
            color: #105efe;
        }
        :nth-child(2) {
            color: #000;
        }
    }
    .col-xxl-2 {
        padding-top: 33px;
        padding-left: 23px;
        .vk, .tg {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            img {
                width: 57px;
                height: 52px;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.03em;
                color: #1a1c20;
                margin: 0;
                margin-left: 22px;
            }
        }
    }
    .pc {
        display: block;
    }
    .mob {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1399px) {
    #footer {
        margin-top: 38px;
        hr {
            width: 980px;
        }
        .col-xxl-3 {
            img {
                margin-left: -34px;
                width: 104px;
                height: 91px;                
            }
            #footer-title {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.02em;
                color: #1a1c20;
                margin-left: 37px;
            }
            a {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.02em;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #1a1c20;
                margin-left: 14px;
            }
        }
        .col-xxl-5 {
            gap: 78px;
            a {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.02em;
            }
        }
        .col-xxl-2 {
            padding: 0;
            padding-top: 26px;
            .vk, .tg {
                margin-bottom: 21px;
                img {
                    width: 47px;
                    height: 42px;
                }
                p {
                    margin-left: 18px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: -0.03em;
                    color: #1a1c20;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    #footer {
        position: relative;
        z-index: 2;
        img {
            width: 126px;
            height: 110px;
        }
        p {
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.02em;
            text-align: center;
            color: #1a1c20;
            margin-top: 17px;
        }
        a {
            display: block;
            margin-top: 25px;
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.02em;
            text-decoration: none;
            color: #1a1c20;
        }
        :nth-child(3) {
            color: #105efe;
            margin-top: 51px;
        }
        .polit {
            text-decoration: underline;
            margin-top: 57px;
        }
        .vk, .tg {
            margin-top: 41px;
            img {
                width: 57px;
                height: 52px;
            }
            p {
                margin: 0;                
                margin-top: 5px;
                line-height: 140%;
            }
        }
        .mob {
            display: block;
        }
        .pc {
            display: none;
        }
    }
}