#header {
    padding-top: 17px;
    .logo {
        width: 57px;
        height: 50px;
        margin-top: 7px;
    }
    nav {
        width: 100%;
        height: 22px;
        margin-top: 18px;
        ul {
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            li {
                font-family: "Inter Tight", sans-serif;
                font-weight: 400;                
                font-size: 18px;
                list-style: none;
                a {
                    text-decoration: none;    
                    color: #1A1C20;                
                }
            }
        }
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;     
        button {
            width: 143px;
            height: 57px;
            border: none;
        }
        :nth-child(1) {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 36px;
            background: none;
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: rgba(26, 28, 32, 0.44);
            
        }
        :nth-child(2) {
            border-radius: 39px;            
            background: linear-gradient(144deg, #0f5eff 0%, #1181ff 100%);
            margin-left: 10px;
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: #fff;
        }
    }
    .burger {
        width: 31px;
        height: 22px;
        border: none;
        background: url(../img/burger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 16px;
    }    
    .create {
        display: none;
    }
    .pc {
        display: block;
    }
    .mob {
        display: none;
    }
}
@media (max-width: 375px) {
    #header {
        padding-top: 15px;
        .logo {
            width: 57px;
            height: 50px;
            margin: 0;
        }
        nav {
            display: none;
        }
        .buttons {
            display: none;
        }
        .create {
            display: block;
            border-radius: 34px;
            width: 125px;
            height: 50px;
            background: linear-gradient(144deg, #0f5eff 0%, #1181ff 100%);
            font-family: "Inter Tight", sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: #fff;
            border: none;
            margin-right: 0;
            margin-left: auto;
        }           
        .col-2 {
            position: relative;
        }
        .burger {
            width: 50px;
            height: 50px;
            border: none;
            background: url(../img/burger_mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 12px;
            left: auto;
        }
        .mob {
            display: block;
        }
        .pc {
            display: none;
        }
    }
}