.col-xxl-4 {
padding-top: 23px;
}
.img {
width: 91px;
height: 91px;
position: relative;
    
}
h2 {
font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 40px;
text-align: center;
color: #fff;
margin-top: 11px;
margin-bottom: 57px;
position: relative;
z-index: 2;
}
form {
width: 351px;
position: relative;
left: 50%;
transform: translateX(-50%);
}
form > input {
border: 1px solid #3a4b57;
border-radius: 18px;
width: 351px;
height: 82px;
background: none;
font-family: "Inter Tight", sans-serif;
font-weight: 300;
font-size: 18px;
text-align: center;
color: #fff;
margin-bottom: 17px;
}
form > input::placeholder {
font-family: "Inter Tight", sans-serif;
font-weight: 300;
font-size: 18px;
text-align: center;
color: #fff;
}
form > button {
border: 1px solid #1d2a33;
border-radius: 18px;
width: 351px;
height: 82px;
background: #105efe;
font-family: "Inter Tight", sans-serif;
font-weight: 600;
font-size: 20px;
text-align: center;
color: #fff;
margin-bottom: 28px;
}
form > a {
font-family: "Inter Tight", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: -0.03em;
text-align: center;
color: #105efe;
text-decoration: none;
}
p {
font-family: "Inter Tight", sans-serif;
margin-top: 41px;
font-weight: 500;
font-size: 18px;
text-align: center;
color: #fff;
}
p > a {
color: #fff;
text-decoration: underline;
text-decoration-skip-ink: none;
}
.polit {
position: relative;
left: 50%;
transform: translateX(-50%);
width: 356px;
margin-top: 49px;
font-family: "Inter Tight", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 140%;
letter-spacing: -0.03em;
text-align: center;
color: #fff;
}
.polit > a {
text-decoration: underline;
text-decoration-skip-ink: none;
color: #a6a6a6;
}
#blur {
border: 1px solid #1d2a33;
border-radius: 18px;
width: 831px;
height: 194px;
filter: blur(208px);
background: #105efe;
position: absolute;
top: -81px;
left: 50%;
transform: translateX(-50%);
}