#second_section {
    position: relative;
    z-index: 2;
    .video {
        width: 100%;
        max-width: 1186px; 
        height: 561px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 39px;    
        background-color: #fff;   
        margin-top: 68px;
        padding: 18px 22px;
        z-index: 5;
        video {
            width: 100%;
            height: 100%;
            border: 6px solid #E4E4E4;
            border-radius: 39px;
        }
    }
    .items {
        display: flex;
        justify-content: space-between;
        width: 100%; 
        max-width: 1186px; 
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 13px;
        article {
            width: 30%;
            height: 327px;
            border-radius: 39px; 
            box-shadow: 0 -302px 500px 0 rgba(0, 0, 0, 0.17);
            background: #fff;
            padding-top: 41px;
            text-align: center; 
            z-index: 5;
            h3 {
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.03em;
                color: #1a1c20;

                b {
                    font-weight: 700;
                }
            }
            .img {            
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background: url(../img/section2_1.png);
                width: 334px;
                height: 240px;
                border-radius: 39px;    
                margin-top: 45px;            
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        :nth-child(2) {
            .img {
                background: url(../img/section2_2.png);
            }
        }
        :nth-child(3) {
            .img {
                background: url(../img/section2_3.png);
            }
        }
    }
    .pc {
        display: block;        
    }
    .mob {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1399px) {
    #second_section {
        .video {
            margin-top: 55px;
            border-radius: 32px;
            max-width: 980px;
            height: 463px;
            padding: 14px 17px;
            video {
                border-radius: 32px;
            }
        }
        .items {
            max-width: 980px;
            height: 315px;
            margin-top: 11px;
            article {
                border-radius: 32px;
                width: 317px;
                height: 270px;
                box-shadow: 0 -250px 413px 0 rgba(0, 0, 0, 0.17);
                background: #fff;
                padding-top: 33px;                
                h3 {
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: -0.03em;
                    text-align: center;
                    color: #1a1c20;
                }
                .img {
                    margin-top: 37px;
                    border-radius: 32px;
                    width: 276px;
                    height: 198px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    #second_section {
        .video {
            width: 309px;
            height: 451px;
            margin-top: 36px;
        }

        .items {
            display: block;
            width: 100%; 
            margin-top: 19px;

            article {
                width: 304px;
                height: 259px; 
                padding-top: 32px;
                margin-top: 61px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);                
                h3 {
                    font-size: 15px;
                    line-height: 140%;
                    letter-spacing: -0.03em;
                }

                .img {
                    width: 264px;
                    height: 190px; 
                    margin-top: 36px;
                    box-shadow: none;  
                }
            }
            :nth-child(1) {
                margin-top: 0;
            }
        }
        .mob {
            display: block;        
        }
        .pc {
            display: none;
        }
    }
}