body {
    background: #0a1116;
    height: 100vh;
}
.row {
    padding-top: 25px;
}
#money_for_project {
    color: #fff;
    text-align: center;
}
.mobile {
    display: none;
}
.pc {
    display: block;
}
@media (max-width: 1399px) {
    .row {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}
@media (max-width: 576px) {
    .row {
        padding-top: 11px;
        padding-bottom: 0px;
    }
    .col-12 {
        margin-bottom: 15px;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
}