* {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 0 !important;
    main {
        position: relative;
        #bg1, #bg2, #bg3, #bg4, #bg5 {
            background: url(./components/img/bg1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 1846px;
            height: 854px;
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            overflow: hidden;
        }
        #bg2 {
            background: url(./components/img/bg2.png);
            height: 932px;
            top: 890px;
        }
        #bg3 {
            background: url(./components/img/bg3.png);
            height: 375px;
            top: 6447px;
        }
        #bg4 {
            background: url(./components/img/bg4.png);
            height: 1364px;
            top: 6836px;
        }
        #bg5 {
            background: url(./components/img/bg5.png);
            height: 1003px;
            top: 9758px;
            left: 50%;
        }
    }
}
@media (max-width: 375px) {
    .container {
        padding-top: 0 !important;
        main {
            position: relative;
            #bg1, #bg2, #bg3, #bg4, #bg5 {
                background: url(./components/img/bg1_mobile.png);
                width: 345px;
                height: 398px;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
            }
            #bg2 {
                background: url(./components/img/bg2_mobile.png);
                height: 682px;
                top: 465px;
            }
            #bg3 {
                background: url(./components/img/bg3_mobile.png);
                height: 705px;
                top: 7010px;
            }
            #bg4 {
                display: none;
            }
            #bg5 {
                background: url(./components/img/bg5_mobile.png);
                height: 705px;
                top: 9235px;
            }
        }
    }
}