#LeftBarLk {
    border: 1px solid #1d2a33;
    border-radius: 25px;
    width: 100%;
    height: calc(100vh - 50px);
    max-height: 902px;
    background: #0f181e;
    .head {
        display: flex;
        height: 97px;
        width: 100%;
        >img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 14px;
            width: 63px;
            height: 63px;
        }
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 14px;
        }
        .balance {
            width: 117px;
            height: 97px;
            border: 1px solid rgba(29, 42, 51, 0.33);
            border-top: none;
            border-bottom: none;
            padding: 22px 5px;
            margin-left: auto;
            margin-right: 21px;
            > button {
                border: none;
                color: #fff;
                display: flex;
                align-items: center;
                width: auto;
                height: 18px;
                padding: 0;
                background: none;
                p {
                    font-weight: 700;
                    font-size: 12px;
                    color: #fff;  
                    margin-top: 17px;  
                    margin-left: 5px;               
                }
                img {
                    margin-top: 7px; 
                }
            }
            :nth-child(1) {
                font-weight: 500;
                font-size: 12px;
                color: #6f8ca6;
                margin-bottom: 5px;
                img {
                    margin-top: 11px;
                    margin-right: 5px;
                }
            }
        }
        .account {
            height: 100%;
            width: 64px;
            margin-right: 17px;
            position: relative;
            >button {
                height: 63px;
                width: 63px;
                font-weight: 700;
                font-size: 28px;
                letter-spacing: -0.02em;
                text-align: center;
                color: #fff;
                border-radius: 100%;
                border: none;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .base {
                background: url(../../../img/leftbar/base.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .optim, .prem {
                background: url(../../../img/leftbar/optim.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .new {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                text-align: center;
                background: #ff3a3a;
                font-weight: 700;
                font-size: 7px;
                color: #fff;
                position: absolute;
                right: 0;
                top: 20px;
                left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    > .applications {
        cursor: pointer;
        width: 100%;
        height: 72px;
        background: #141e27;
        padding-left: 23px;
        padding-right: 34px;
        padding-top: 22px;
        display: flex;
        img {
            height: 20px;
            width: 20px;
            margin-top: 7px;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            margin-left: 11px;
            margin-bottom: 0;
            margin-top: 4px;
        }
        .count {
            width: 31px;
            height: 31px;
            font-weight: 700;
            font-size: 16px;
            color: #244529;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(../../../img/leftbar/count.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: 0;
        }
    }
    .rate {
        cursor: pointer;
        width: 100%;
        height: 72px;
        padding-left: 23px;
        padding-right: 28px;
        padding-top: 22px;
        display: flex;
        img {
            height: 20px;
            width: 20px;
            margin-top: 7px;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            margin-left: 11px;
            margin-bottom: 0;
            margin-top: 4px;
        }
        .rates {
            border-radius: 17px;
            width: 45px;
            height: 34px;
            background: #141e27;
            border: none;
            margin-left: auto;
            margin-right: 3px;
            display: none;
            font-weight: 500;
            font-size: 7px;
            color: #fff;
            align-items: center;
            justify-content: center;
        }
        .activ {
            display: flex;
        }
        .plus {
            border-radius: 17px;
            width: 34px;
            height: 34px;
            border: none;
            background: #141e27;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 12px;
            color: #fff;
        }
    }
    nav {
        border: 1px solid #1d2a33;
        border-radius: 25px;
        width: auto;
        height: 493px;
        margin-left: 7px;
        margin-right: 7px;
        background: #0f181e;
        position: relative;
        .btns {
            height: 430px;
            width: 100%;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 9px;   
            border: none;
            border-bottom: 1px solid #1d2a33;
            border-radius: 25px;  
            position: relative;
            background: #0f181e;
            > button {
                width: 100%;
                height: 82px;
                border-radius: 18px;
                padding-left: 38px;
                padding-right: 41px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 6px;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                background: #0f181e;
                
            }       
            :nth-child(1) {
                background: #105efe;
                border: none;
                font-weight: 500;
            }
            :nth-child(2) {
                border: 1px solid #1d2a33;
                background: #0f181e;
                img {
                    background: none;
                }
            }
            :nth-child(3) {
                border: 1px solid #1d2a33;
            }
            a {
                width: 222px;
                text-decoration: none;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                bottom: 17px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                img {
                    background: none !important;
                    margin-top: -4px;
                    margin-right: 8px;
                }
            }            
        }
        a {
            width: 173px;
            text-decoration: none;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            bottom: 17px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            img {
                background: none !important;
                margin-top: -4px;
                margin-right: 8px;
            }
        }  
    }
    .refer {
        padding-top: 34px;
        p {
            text-align: center;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            margin-bottom: 17px;
        }
        > button {
            border-radius: 18px;
            width: 109px;
            height: 38px;
            background: #fff;
            font-weight: 400;
            font-size: 14px;
            color: #105efe;
            border: none;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }        
    }

}