.step2 {
    border-radius: 39px;
    width: 1186px;
    height: 557px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #f2f3f5;
    margin-top: 11px;
    padding: 44px 40px 44px 60px;
    background: url(../../../img/second_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    h3 {
        font-family: "Inter Tight", sans-serif;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: -0.02em;
        color: #1a1c20;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #1a1c20;
        margin-top: 29px;
        span {
            border-radius: 20px;
            width: 139px;
            height: 35px;
            background: #dfeaff;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.03em;
            color: #105efe;
            padding: 2px 11px 5px 12px;
        }
        .blue {
            color: #105efe;
            border-radius: 20px;
            background: #fff;
            margin-left: -13px;
            margin-right: -11px;
        }
        .beige {
            background: rgba(255, 141, 67, 0.2);
            border-radius: 20px;
            width: 205px;
            height: 35px;
            color: #1a1c20;
            margin-left: -12px;
        }
        b {
            font-weight: 700;
        }
    }
    .quistions {
        position: absolute;
        left: 60px;
        bottom: 44px;
    }
    .icon {
        background: url(../../../img/second.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 116px;
        position: absolute;
        top: 79px;
        left: 572px;
        z-index: 3;
    }
    .screen {
        border-radius: 39px;
        width: 499px;
        height: 469px;
        background: #fff;
        position: absolute;
        top: 44px;
        right: 40px;
        left: auto;
    }
}