.quiz_small {
    width: 100%;
    height: 138px;
    border: 1px solid rgba(66, 87, 102, 0.1);
    border-radius: 20px;
    background: #141e27;
    margin-bottom: 9px;
    padding-left: 24px;
    padding-top: 22px;
    position: relative;
    .quiz_small_head {
        display: flex;
        p {
            border-radius: 23px;
            width: 27px;
            height: 18px;
            background: #1f2c38;
            font-weight: 500;
            font-size: 9px;
            color: #fff;
            text-align: center;
            padding-top: 3px;
            margin-top: 2px;
        }
        h5 {
            margin-left: 17px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 18px;
            color: #fff;
        }
        input {
            display: none;
        }
        button {
            width: 10px;
            height: 10px;
            border: none;
            background: none;
            margin-top: 6px;
            margin-left: 11px;
            img {
                margin-top: -18px;
            }
        }
    }
    .quiz_small_btns {
        display: flex;
        justify-content: space-between;
        width: 662px;
        height: 58px;
     
        button {
            border: 1px solid #1d2a33;
            border-radius: 18px;
            width: 166px;
            height: 58px;
            background: none;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            img {
                margin-top: -2px;
                margin-right: 6px;
            }
        }
        :nth-child(2) {
            width: 135px;
        }
        button:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            .count {
                width: 23px;
                height: 23px; 
                border-radius: 100%;
                background: #6df882;   
                margin-left: 35px;       
                font-weight: 700;
                font-size: 10px;
                color: #244529;    
                display: flex;
                justify-content: center;
                align-items: center;
            }            
            img {
                margin-top: 0;
            }
        } 
        button:nth-child(4) {
            border: 1px solid #105efe;
        }  
    }
    input[type="checkbox"].check {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 28px;
        height: 28px;
        background-color: transparent;
        border: 1px solid #354754;
        border-radius: 9999px; 
        position: absolute;
        top: 10px;
        left: auto;
        right: 10px;
        cursor: pointer;
    }
    input[type="checkbox"].check:checked::before {
        content: '';
        width: 28px;
        height: 28px;
        background-color: #ffffff; 
        border-radius: 9999px; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    input[type="checkbox"].check:checked::after {
        content: '';
        font-weight: bold;
        color: #1f2937;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.25rem;
    }
    .delete {
        position: absolute;
        bottom: 14px;
        left: auto;
        top: auto;
        right: 12px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        img {
            margin-left: -6px;
            margin-top: -2px;
        }
    }
}
