* {
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 0 !important;
  font-family: "Inter Tight", sans-serif;
  main {
      position: relative;
      #bg1, #bg2, #bg3, #bg4, #bg5 {
          background: url(../img/bg1.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          min-width: 1390px;
          width: 90vw;
          max-width: 1846px;
          height: 854px;
          position: absolute;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          border-radius: 39px;
      }
      #bg2 {
          background: url(../img/bg2.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 932px;
          top: 890px;
      }
      #bg3 {
          background: url(../img/bg3.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 375px;
          top: 6447px;
      }
      #bg4 {
          background: url(../img/bg4.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 1364px;
          top: 6836px;
      }
      #bg5 {
          background: url(../img/bg5.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 1003px;
          top: 11088px;
      }
  }  
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
      main {
          #bg1, #bg2, #bg3, #bg4, #bg5 {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              min-width: 1190px;
              width: 1190px;
              height: 706px;
              top: 20px;
          }
          #bg2 {
              height: 770px;
              top: 736px;
          }
          #bg3 {
              height: 315px;
              top: 5270px;
              background-position: 38%;
          }
          #bg4 {
              height: 1127px;
              top: 5592px;
          }
          #bg5 {
            top: 9182px;
              height: 844px;
          }
      }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
      main {
          #bg1, #bg2, #bg3, #bg4, #bg5 {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              min-width: 982px;
              width: 982px;
              height: 706px;
              top: 20px;
          }
          #bg2 {
              height: 770px;
              top: 736px;
          }
          #bg3 {
              height: 315px;
              top: 5270px;
              background-position: 38%;
          }
          #bg4 {
              height: 1127px;
              top: 5592px;
          }
          #bg5 {
              top: 9182px;
              height: 844px;
          }
      }
  }
}
@media (max-width: 576px) {
  .container {
      padding-top: 0 !important;
      position: relative;
      main {
          position: relative;
          #bg1, #bg2, #bg3, #bg4, #bg5 {
              background: url(../img/bg1_mobile.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              min-width: 300px;
              width: 95vw;
              max-width: 576px;
              height: 398px;
              top: 15px;
              left: 50%;
              transform: translateX(-50%);
          }
          #bg2 {
              background: url(../img/bg2_mobile.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              height: 682px;
              top: 465px;
          }
          #bg3 {
              background: url(../img/bg3_mobile.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              height: 705px;
              top: 7250px;
          }
          #bg4 {
              display: none;
          }
          #bg5 {
              background: url(../img/bg5_mobile.png);                
              background-repeat: no-repeat !important;
              background-size: cover !important;
              background-position: center !important;
              height: 705px;
              top: 13450px;
          }
          
      }
      #bg {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 31px;
          min-width: 300px;
          width: 95vw;
          max-width: 576px;
          height: 621px;
          background: #f2f3f5;
          position: absolute;
          bottom: 61px;
          left: 50%;
          transform: translateX(-50%);
      }
  }
}