#sixth_section {
    margin-top: 152px;
    position: relative;
    z-index: 2;
    h2 {
        font-family: "Inter Tight", sans-serif;
        font-weight: 400;
        font-size: 44px;
        letter-spacing: -0.02em;
        color: #fff;
        margin-left: 1px;
        b {
            font-weight: 700;
        }
    }
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #fff;
        margin-top: 40px;
        margin-left: 1px;
    }
    .pc {
        display: block;
    }
    .mob {
        display: none;
    }
}
@media (max-width: 375px) {
    #sixth_section {
        margin-top: 86px;
        h2 {
            font-size: 23px;
            letter-spacing: -0.02em;
            text-align: center;
        }
        p {
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.03em;
            text-align: center;
            margin-top: 27px;
        }
        .mob {
            display: block;
        }
        .pc {
            display: none;
        }
        
    }
}