#fifth_section {
    padding-top: 140px;
    h2 {
        font-family: "Inter Tight", sans-serif;
        font-weight: 400;
        font-size: 44px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #1a1c20;
        b {
            font-weight: 700;
        }
    }
}